<form class="form-horizontal" ng-init="initComponent()" required>

	<div class="form-group">
		<label class="col-sm-2">Item Name</label>
		<div class="col-sm-6">
			<input ng-disabled="component.id" ng-model="component.name"
				class="form-control" />
		</div>
	</div>


	<div class="form-group">
		<label class="col-sm-2">Item #</label>
		<div class="col-sm-6">
			<input ng-disabled="component.id" ng-model="component.itemCode"
				class="form-control" />

		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2">Type</label>
		<div class="col-sm-6">
			<input ng-model="component.type" class="form-control" />
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2">Price</label>
		<div class="col-sm-6">
			<input ng-model="component.price" class="form-control" />

		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2">Quantity</label>
		<div class="col-sm-6">
			<input ng-model="component.quantity" class="form-control" />

		</div>
	</div>


	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button
				ng-disabled="!component.quantity||!component.type || !component.price||!component.itemCode ||!component.name"
				ng-click="saveComponent()" type="submit" class="btn btn-default">Save</button>
		</div>
	</div>
</form>